*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
} 

header {
    background-color: #fb6240;
    height: 90vh;
    position: relative;
}

#nav-bar__items {
    display: none;
}

.nav-bar__logo {
    color: white;
    font-weight: 500;
    font-size: 50px;
    position: absolute;
    left: 20px;
    top: 8px;
}

.nav-bar__hamburguer {
    width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
}

h1 {
    color: #fff559;
    font-size: 3em;
    position: absolute;
    top: 190px;
    left: 35px;
    line-height: 50px;
}

h2 {
    color: white;
    font-weight: 300;
    position: absolute;
    top: 300px;
    left: 35px;
}

/* Work */
#projects {
    background-color: #5c1abc;
}

h3 {
    color: #fff559;
    font-size: 3em;
    padding: 50px 0 50px 0;
    text-align: center;
    position: relative;
}

h4 {
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 0.8rem;
}

.projects__subtitle {
    height: 80px;
    position: relative;
}

.projects__underline {
    background-color: #fff55a;
    width: 70px;
    height: 6px;
    position: absolute;
    top: 25px;
    left: 130px;
}

.project-tile {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 40px;
    text-align: center;
}

