*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
} 

:root {
    --yellow: #FDEC0F;
    --blue: #016EDF;
    --red: #EF433E;
    --pink: #FDD6D6;
}

header {
    background-color: var(--pink);
    height: 90vh;
    position: relative;
}

#nav-bar__items {
    display: none;
}

.nav-bar__logo {
    position: absolute;
    left: 28px;
    top: 18px;
}

.nav-bar__logo>img {
    height: 55px;
}

.nav-bar__hamburguer {
    width: 40px;
    position: absolute;
    right: 25px;
    top: 28px;
}

h1 {
    color: var(--blue);
    font-size: 3.5em;
    position: absolute;
    top: 185px;
    left: 35px;
    line-height: 54px;
}

h2 {
    color: black;
    font-weight: 300;
    position: absolute;
    top: 300px;
    left: 35px;
}

#about_button {
    display:block;
    position: absolute;
    top: 390px;
    left: 35px;
    background-color:transparent;
    border: 1px black solid;
    padding: 10px 50px;
}

/* Work */
#projects {
    background-color: var(--red);
}

h3 {
    color: var(--yellow);
    font-size: 3em;
    padding: 50px 0 50px 0;
    text-align: center;
    position: relative;
}

h4 {
    color:var(--pink);
    font-weight: 400;
    text-align: center;
    font-size: 0.8rem;
}

/* .projects__subtitle {
    height: 80px;
    position: relative;
} */

.projects__subtitle {
    height: 37px;
    position: relative;
    background-image: url(/images/Path-blue.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 40px;
}

.projects__underline {
    background-color: var(--blue);
    width: 70px;
    height: 6px;
    position: absolute;
    top: 25px;
    left: 130px; 
    /* background: #9e978e;
    margin: 0 1em 1em 0;
    height: 45px;
    width: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px; */
}

.project-tile {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

.project-tile>a {
    text-decoration: none;
    color: var(--pink);
}

.projects__articles {
    padding-bottom: 80px;
}

/* Footer */
#contact {
    background-color:var(--pink);
    position: relative;
    height: 240px;
}

h5 {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 50px 0 50px 0;
    text-align: center; 
    color:var(--red);
}

#contact>p {
    text-align: left;
    position: absolute;
    width: 65%;
    left: 45px;
    top: 110px;
    color: black;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0 100px;
    list-style: none;
}


.footer__icons>li>a>img{
    width: 24px;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    header {
        height: 100vh;
    }

    .nav-bar__logo {
        top: 30px;
        left: 60px;
    }

    .nav-bar__logo>img {
        height: 80px;
        position:fixed;
    }

    #nav-bar__items {
        display: inline-block;
        list-style-type: none;
        width: 100%;
        text-align: center;
        margin-top: 70px;
    }

    .nav-bar__item {
        display: inline-block;
        padding: 5px;
        font-size: 1rem;
        padding-right: 40px;
    }

    #nav-bar__items>a {
        text-decoration: none;
        color: black; 
        font-weight: 300;

    }

    .nav-bar__item>li:hover{
    background-image: url(/images/Path-yellow-2.svg);
    background-size: 45px;
    height: 40px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    }


    .nav-bar__hamburguer {
        display: none;
    }

    h1 {
        font-size: 8em;
        top: 230px;
        left: 400px;
        line-height: 122px;
    }

    h2 {
        color: black;
        font-weight: 300;
        position: absolute;
        top: 480px;
        left: 400px;
        font-size: 2rem;
    }

    #about_button {
        top: 570px;
        left: 400px;
        padding: 12px 60px;
        font-size: 1rem;
    }

    /* Work */
    #projects {
        height: 170vh;
    }
    
    h3 {
        font-size: 10em;
        padding: 80px 0 50px 0;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    .projects__subtitle {
        height: 50px;
        position: relative;
        background-image: url(/images/Path-blue.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        background-size: 60px;
    }
    
    /* .projects__underline {
        width: 90px;
        left: 640px;
    } */

    .project-tile {
        font-size: 7rem;
        padding: 50px;
    }

    .projects__articles {
        padding-top: 50px;
    }

    .tribute:hover {
        background-image: url(/images/Grammy.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .tribute:hover>a>.tribute-title {
        transform: scale(1.6);
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
    }

    .tribute:hover~.project-tile>a {
        color: rgba(255, 255, 255, 0.342);
    }

    /* Footer */

    #contact {
        height: 250px;
    }

    h5 {
        font-size: 4rem;
    }

    #contact>p {
        left: 510px;
        top: 140px;
    }

    .footer__icons {
        display: flex;
        justify-content: space-between;
        padding: 20px 630px 0 630px;
    }

    .footer__icons>a>img{
        width: 22px;
    }

}
